.body1{
    background-image: url('login2.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1{
    background-color: #e5babab1;
    backdrop-filter: blur(7px); /* Applique un flou à l'arrière-plan */
    height: 500px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ED1C24;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    margin : 0px;
    margin-bottom:30px;
}

input{
    height: 35px;
    width: 275px;
    border-radius: 10px;
    border: none; /* Supprime la bordure */
    outline: none; /* Supprime la bordure de focus */
    box-shadow: none; /* Supprime l'ombre */
    background-color: rgba(255, 255,255, 0.5);
}

div{
    margin:20px
}

button{
    width: 275px;
    height: 40px;
    border-radius: 10px;
    border: none; /* Supprime la bordure */
    outline: none; /* Supprime la bordure de focus */
    box-shadow: none; /* Supprime l'ombre */
    background-color: #ED1C24;
}

.p{
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size : 17px;
    font-weight: bold
}
.text{
    color: white;
    font-family:'Poppins', 'Inter', 'Roboto', sans-serif;    ;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 0px;
    margin-top : 50px;
    font-weight: bold

}
.text2{
    color: white;
    margin : 0px;
    margin-top: 40px;
    margin-bottom : 40px;
    font-family:'Poppins', 'Inter', 'Roboto', sans-serif;
    font-size: 15px;
}

.input1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin : 0px;
    margin-top : 20px;
    border-radius: 12px;
    margin-bottom:10px;

}
input{
    font-size:17px;
}

.input2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin:0px;
    margin-top : 20px;
    margin-bottom:10px
    
}
.input4{
    margin:0
}
.input3{
    margin : 0px;
    margin-top :40px
}
#account{
    color: black;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input1 label{
    color :#f68d8d;
    font-family:'Poppins', 'Inter', 'Roboto', sans-serif;
    position :absolute;
    padding: 0px 15px;
    font-size: 18px;
}
a{
    color:#ED1C24;
    text-decoration: none;
    font-size:17px;
}
.buttonlogin{
    color: white;
    font-family:'Poppins', 'Inter', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.diverror{
    margin : 0px;
    height: 20px;
}
.error{
   margin: 0px;
   color: red;
   position: absolute;
   transform: translateX(-50%); 
   font-size: 14px;
   font-family: Arial, sans-serif;
   margin-top: 10px;
} 