.element{
    background-image: url("register.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 600px;
    border-radius: 20px;
    background-color: #e5babab1;
    backdrop-filter: blur(7px); /* Applique un flou à l'arrière-plan */
}

header{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;


}

input{
   width: 325px;
   height:35px;
   border-radius: 7px;
   margin: 10px;
   border: none; /* Supprime la bordure */
   outline: none; /* Supprime la bordure de focus */
   box-shadow: none; /* Supprime l'ombre */
   background-color: rgba(255, 255, 255,0.5);
}

img{
    width: 50px;
    height: 50px;
    background-color: transparent; /* Assurez-vous que le fond est transparent */
    border: none; /* Supprimez les bordures */
    box-shadow: none; /* Supprimez les ombres */
}

h1,.header{
    font-family:'Poppins', 'Inter', 'Roboto', sans-serif;
    color: #ED1C24;
}
.button2{
    width: 325px;
    height: 40px;
    border-radius: 7px;
    background-color: transparent; /* Assurez-vous que le fond est transparent */
    border: none; /* Supprimez les bordures */
    box-shadow: none; /* Supprimez les ombres */
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.p{
    font-family:'Poppins', 'Inter', 'Roboto', sans-serif;
    font-size: 18px;
    color: #ED1C24;
    font-weight: bold;
}
.a{
    color: white;
    text-decoration : none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', 'Inter', 'Roboto', sans-serif;;
}